<div class="header">
    <a href="/" class="home">xiaowu.live</a>
    <div class="header-options">
        <% if (name) { %>
            <a href="./background" class="header-options-nobtn">进入后台</a>
            <a class="header-options-btn">
                <%= name %>
            </a>
        <% } else { %>
            <a href="./login" class="header-options-nobtn">进入后台</a>
            <a href="/login" class="header-options-btn">
                <%= '请登录' %>
            </a>
        <% } %>
    </div>
</div>