<div class="header">
    <a href="/" class="home">xiaowu.live</a>
    <div class="header-options">
        <a href="/" class="header-options-nobtn">Source</a>
        <a href="/" class="header-options-btn">Follow Me</a>
    </div>
</div>